body {
    color: #FF0000; /* Red */
    /*background-color: #eeeeee;*/ /* Light gray */
    font-size: 18px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h1, h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol {
    list-style-type: lower-roman;
}
p{
    text-align: left;
}